<!DOCTYPE html> 
<html lang="fr">
    <!-- Modification de la classe statut en cours avec le controleur etc -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block titre %}Gérer votre parc informatique{% endblock %}</title>
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="css/mdb.min.css" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="css/style.css" rel="stylesheet">
        <!-- MDBootstrap Datatables  -->
        <link href="css/addons/datatables.min.css" rel="stylesheet">
        <!-- Insert the ico site -->
        <link rel="icon" href="http://serveur1.arras-sio.com/symfony4-4017/parcinformatique/web/img/favicon.ico"/>
        {% block style %}{% endblock %}
    </head>

    <body>

        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3 class="h3-responsive">Parc Informatique</h3>
                    <strong>P.I.</strong>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="index.php">Accueil</a>
                    </li>
                    {% if session.email is defined %}
                        <li><!-- Link with dropdown items -->
                            <a href="#scripts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Scripts</a>
                            <ul class="collapse list-unstyled" id="scripts">
                                <li><a href="index.php?page=script">Liste des scripts</a></li>
                                <li><a href="index.php?page=ajouterScript">Ajouter un script</a></li>
                                <li><a href="index.php?page=installationScript">Installer un script</a></li>
                            </ul>
                            <a href="#utilisateur" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Utilisateurs</a>
                            <ul class="collapse list-unstyled" id="utilisateur">
                                <li><a href="index.php?page=utilisateur">Liste des utilisateurs</a></li>
                                <li><a href="index.php?page=ajouterFonction">Ajouter une fonction</a></li>
                            </ul>
                            <a href="#employe" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Employés</a>
                            <ul class="collapse list-unstyled" id="employe">
                                <li><a href="index.php?page=employe">Liste des employés</a></li>
                            </ul>
                            <a href="#ordinateur" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ordinateurs</a>
                            <ul class="collapse list-unstyled" id="ordinateur">
                                <li><a href="index.php?page=ordinateur">Parc</a></li>
                            </ul>
                            <a href="#os" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Os</a>
                            {% if session.email is defined %}
                                <ul class="collapse list-unstyled" id="os">
                                    <li><a href="index.php?page=os">Liste des OS</a></li>
                                    <li><a href="index.php?page=ajouterOs">Ajouter un OS</a></li>
                                </ul>
                            {% endif %}
                        </li>
                    </ul>
                    <ul class="list-unstyled components">
                        <li><a href='index.php?page=monCompte'>&nbsp;{{ session.prenom }}</a></li>
                        <li><a class='fa fa-user-times' href="index.php?page=deconnexion">&nbsp;Déconnexion</a></li>
                    </ul>
                {% endif %}
            </nav>

            <div id="content">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-orange">
                        <i class="fas fa-align-justify"></i>
                    </button>
                </div>
                {% block contenu %}

                {% endblock %}
            </div>

        </div>



        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="js/mdb.min.js"></script>
        <!-- MDBootstrap Datatables  -->
        <script type="text/javascript" src="js/addons/datatables.min.js"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script type="text/javascript" src="js/menu.js"></script>
        <script>
            $('#sidebar').toggleClass('active');
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script> 
        <script>
            $(document).ready(function () {
                $('#dtBasicExample').DataTable();
                $('.dataTables_length').addClass('bs-select');
            });
        </script>
        {% block js %}{% endblock %}
    </body>

</html>
