{% extends "base.html.twig" %}

{# Page d'index, regroupant le carrousel des reseaux et la liste des ordinateurs permettant l'acces en SSH #}


{% block style %}
    <link href="css/style2.css" rel="stylesheet" type="text/css"/>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v5.0&appId=1751809268290063&autoLogAppEvents=1"></script>
{% endblock %}

{% block contenu %}
    {% if session.email is defined %} 
        {% if form.test == "version non mobile" %}
            <div class="container-fluid">
                <div class="col text-center">
                    <form method="post">
                        <button type="submit" name="turnOff" class="btn btn-danger" onclick='spinner();'><a id='spinner'><span class="spinner-border spinner-border-sm fas fa-power-off"></span></a>&nbsp;Eteindre le parc complet&nbsp;<span class="fas fa-power-off"></span></button>
                        {% if form.turnOff is defined %}
                            {% if form.turnOff == true %}
                                <a class="alert alert-success" role="alert">{{ form.turnOffMsg }}</a>
                            {% elseif form.turnOff == false %}
                                <a class="alert alert-warning" role="alert">{{ form.turnOffMsg }}</a>
                            {% endif %}
                        {% endif %}
                    </form>
                </div>

                <form method="post" id="afficherCanvas">
                    <input class="form-control" type="text" placeholder="Saisir le numéro du réseau à afficher..." name="nbReseau" id="nbReseau"/>
                    <input class="btn btn-orange" type="submit" value="Envoyer" name="btCanvas" onclick='setCanvas();'/>
                </form>
                <canvas id="canvas"></canvas>

            </div>
            <div class="container-fluid">
                <table id="dtBasicExample" class="table table-bordered table-responsive-sm align-content-sm-center" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="th-sm"></th>
                            <th class="th-sm">I.P.</th>
                            <th class="th-sm">Système d'exploitation</th>
                            <th class="th-sm">Etat</th>
                            <th class="th-sm">Employe rattaché au PC</th>
                            <th class="th-sm">En savoir plus</th>
                        </tr>
                    </thead>
                    <tbody>            
                        {% for o in listeO %}
                            <tr>
                                <td><img src="../web/img/computer.png" id="pc" width="50" height="50"></td>
                                <td>{{ o.ip }}</td>
                                <td>{{ o.nomOs }}</td>
                                <td>{{ o.nomStatut }}<div {% if o.nomStatut == "En ligne" %} class="statut correct" {% else %} class="statut eteint" {% endif %}></div></td>
                                <td>{{ o.unEmploye }}</td>
                                <td><button type="button" data-id="{{ o.idOrdinateur }}" class="btn btn-white pcInfo">En savoir plus...</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

                <p><a href="index.php?page=listeOrdinateurPdf" target="_blank"><i class="fas fa-download"></i>&nbsp;Télécharger la liste des ordinateurs visibles en pdf</a></p>

                <!-- Modal -->
                <div id="empModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-fluid modal-frame">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">PC</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <table border='0' width='100%'>
                                    <tr>
                                        <td>Adresse IP:</td><td id="ip"></td>
                                    </tr>
                                    <tr>
                                        <td>Adresse MAC:</td><td id="mac"></td>
                                    </tr>
                                    <tr>
                                        <td>Système d'exploitation:</td><td id="nomOs"></td>
                                    </tr>
                                    <tr>
                                        <td>Statut de l'appareil:</td><td id="nomStatut"></td>
                                    </tr>
                                    <tr>
                                        <td>Employé rattaché à ce PC:</td><td id="unEmploye"></td>
                                    </tr>
                                </table>
                                <br><br><br>
                                <form method='post' id='serverbox'>
                                    <p>Se connecter en SSH</p>
                                    <div class='alert alert-danger' id='erreur'></div>
                                    <label>Serveur:</label><br>
                                    <input type='text' id='server' name='server' title='Serveur' placeholder='Serveur' readonly/><br>
                                    <label>Port:</label><br>
                                    <input type='number' min='1' id='port' name='port' title='port' placeholder='port' value='22' readonly/><br>
                                    <label>Nom d'utilisateur:</label><br>
                                    <input type='text' id='user' name='login' title='Nom d&apos;utilisateur' placeholder='Nom d&apos;utilisateur' value='parcinfo' readonly/><br>
                                    <label>Mot de passe:</label><br>
                                    <input type='password' id='password' name='password' title='Mot de passe' placeholder='Mot de passe'/><br>
                                    <button type='submit' class='btn btn-success' name='btConnecter'>Se connecter&nbsp;<img id='loader' style='display: none' src='img/loader.gif' alt='loader'/></button>
                                </form>
                            </div>
                            <div class='cmd'>
                                <textarea class='cmd-field' id='prevCmd' cols="100" rows="10%"></textarea>
                                <form method="post" id="cmd" autocomplete='off'>
                                    <input type='text' class="cmd-field" id='cmd-line' name='cmd-line'/>
                                    <input type="submit" style="display: none"/> 
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Acces par mobile oblige telechargement de l'apk #}

        {% elseif form.test == "version mobile" %}
            <p>Pour avoir accès aux ressources sur mobiles et tablettes, veuillez télécharger l'application suivante:</p><a href='../apk/app-debug.apk' target='_blank'>ParcInformatique</a>
        {% endif %}
        <div class="banner-wrapper">
            <div id="cookie-banner" class="cookie-banner" role='dialog'>
                <p>Pour que vous puissiez bénéficier de la meilleure expérience possible, nous utilisons des cookies. <br />En poursuivant votre navigation sur <em>parcinformatique.fr</em> nous considérons que vous les acceptez.</p>
                <a class="button" href="#" id='btOkCookies'>OK</a>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="h3-responsive col-sm-4">
                    <a class="page-link" href="index.php?page=connexion"><i class="fa fa-address-card"></i>&nbsp;Connexion</a>
                </div>
                <div class="h3-responsive col-sm-4">
                    <a class="page-link" href="https://accounts.google.com/o/oauth2/v2/auth?scope=email profile&access_type=online&redirect_uri={{ 'http://serveur1.arras-sio.com/symfony4-4017/parcinformatique/web/index.php?page=googleAuth'|url_encode() }}&response_type=code&client_id=944029488040-d090bocufmukr0lea89hvaobe0eeg471.apps.googleusercontent.com"><i class="fab fa-google"></i>&nbsp;Connexion via Google</a>
                </div>
                <div class="h3-responsive col-sm-4">
                    <a class="page-link" href="index.php?page=inscription"><i class="fa fa-user-plus"></i>&nbsp;Inscription</a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script>
        function powerOff() {
            $('#turnOff').hide();
        }
    </script>

    {# Script de generation des canvas et gestion de l'allignement #}
    <script>
        function dessinerReseau(ctx) {
            var x = reseau.width = screen.width / 1.2;
            var y = reseau.height = screen.height / 1.5;

            var xImg = 10;
            var yImg = 100;
            var yTrait = yImg - xImg + 100;
            var PERIMETRE = 360;


            var fontSize = Math.floor(reseau.height / 33);
            var ordinateur = document.getElementById("pc");

            /* 
             * Ligne 
             */
            ctx.beginPath();
            ctx.lineWidth = "2";
            ctx.moveTo(0, y / 2);
            ctx.lineTo(x, y / 2);
            ctx.font = fontSize + "px bold Arial solid";
            //ctx.fillText("192.168." + nbReseau + ".0", x / 2, 25);
            ctx.stroke();

            /*
             * Image
             */
            var cpt = 0;
            var xImg2 = 100;
            var yImg2 = 350;
        {% for o in listeO %}
                if (cpt >= 5) {
                    ctx.drawImage(ordinateur, xImg2, yImg2);
                    ctx.moveTo(xImg2 + 50, yImg2 + 50);
                    ctx.lineTo(xImg2 + 50, y / 2);
                    ctx.fillText("{{ o.ip }}", xImg2 + 20, yImg2 + 150);
                    xImg2 += 250;
                } else if (cpt < 5) {
                    ctx.drawImage(ordinateur, xImg, yImg);
                    ctx.moveTo(xImg + 50, yImg + 100);
                    ctx.lineTo(xImg + 50, y / 2);
                    ctx.fillText("{{ o.ip }}", xImg + 20, yImg);
                    xImg += 250;
                }
                ctx.stroke();
                cpt++;
        {% endfor %}
            }
            var reseau = document.getElementById("canvas");
            var ordinateur = document.getElementById("ordinateur");
            var ctx = reseau.getContext("2d");
            dessinerReseau(ctx);
    </script>
    <script>
        function spinner() {
            var spinner = document.getElementById("spinner");
            spinner.style.display = 'inline-block';
        }
    </script>
    {# Script permettant l'envoi du formulaire de connection SSH en AJAX + Script générant le mini popup #}
    <script src="js/sshAjax.js" type="text/javascript"></script>
    {# Script permettant d'envoyer des commandes au PC distant #}
    <!--<script src="js/commandes.js" type="text/javascript"></script>-->
    <script>
        $("#prevCmd").hide();
        $(function () {
            $("#cmd").submit(function () {
                commande = $(this).find("input[name=cmd-line]").val();
                if (commande === "clear")
                    $("#prevCmd").empty();
                $.post("index.php?page=cmd", {commande: commande}, function (data) {
                    console.log(data);
                    $("#prevCmd").show();
                    $("#prevCmd").append(data);
                });
                return false;
            });
        });
    </script>
    {# Banniere Cookies #}
    <script src="js/cookies.js" type="text/javascript"></script>
    {# Script récupérant les PC sur le réseau #}
    <script src='js/scan.js' type='text/javascript'></script>
{% endblock %}