{% extends "base.html.twig" %}

{# Page de la liste des scripts #}

{% block title %} Liste des scripts {% endblock %}
{% block contenu %}
    <div id="content">

        <table id="dtBasicExample" class="table table-striped table-bordered table-responsive-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">#
                    </th>
                    <th class="th-sm">Nom
                    </th>
                    <th class="th-sm">Version
                    </th>
                    <th class="th-sm">Description
                    </th>
                    <th class="th-sm">OS
                    </th>
                    <th class="th-sm">Fichier (<i class="fas fa-edit"></i>) ~ WIP Affichage du contenu de chaque script pour les rendre éditables
                    </th>
                    <th class="th-sm">Fichier (<i class="fas fa-download"></i>)
                    </th>

                </tr>
            </thead>

            <tbody>
                {% for s in listeS %}
                    {% autoescape %}
                        {#% set nomScript = s.nomScript %#}
                        <tr>
                            <td>{{s.idScript}}</td>
                            <td id="{{s.idScript}}">{{s.nomScript}}</td>
                            <td>{{s.version}}</td>
                            <td>{{s.descScript}}</td>
                            <td>{{s.nomOs}}</td>
                            <td>{{form.sshdistant}}</td>
                            <td><a href="../src/scripts/{{ s.fichierScript }}" download><span class="fas fa-download"></span>&nbsp;{{s.fichierScript}}</a></td>
                            <td style="display: none">{{s.fichierScript}}</td>
                        </tr>
                    {% endautoescape %}
                {% endfor %}
        </table>

    </div>


{% endblock %}

{% block js %}
    <script src="js/jquery.tabledit_Script.js"></script>
    <script>
        $('#dtBasicExample').Tabledit({
            url: 'index.php?page=script',
            columns: {
                identifier: [0, 'idScript'],
                editable: [[1, 'nomScript'], [2, 'version'], [3, 'descScript'], [4, 'idOs'], [5, 'fichierScript', 'textarea', '{"rows": "5", "cols": "10", "maxlength": "200", "wrap": "hard"}']]

            },
            onDraw: function () {
                console.log('onDraw()');
            },
            onSuccess: function (data, textStatus, jqXHR) {
                console.log('onSuccess(data, textStatus, jqXHR)');
                console.log(data);
                console.log(textStatus);
                console.log(jqXHR);
            },
            onFail: function (jqXHR, textStatus, errorThrown) {
                console.log('onFail(jqXHR, textStatus, errorThrown)');
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
            },
            onAlways: function () {
                console.log('onAlways()');
            },
            onAjax: function (action, serialize) {
                console.log('onAjax(action, serialize)');
                console.log(action);
                console.log(serialize);
            }
        });
    </script>
    <script>
        {% for s in listeS %}
            test = $(".tabledit-span")[1];
            console.log(test); 
        {% endfor %}
    </script>
    <!--<script>
        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>-->
{% endblock %}